.footer {
    width: 100%;
    margin-top: auto;

    &__top {
        margin-top: 160px;
        background: $main-blue;
        padding: 94px 0;

        @media(max-width: $breakpoint1440) {
            margin-top: 140px;
            padding: 80px 0;
        }
        @media(max-width: 1360px) {
            padding: 80px 16px;
        }
        @media(max-width: $breakpoint1024) {
            padding: 60px 16px;
        }
        @media(max-width: $breakpoint768) {
            margin-top: 100px;
        }
        @media(max-width: $breakpoint480) {
            padding: 90px 16px 20px;
        }
    }

    &__bottom {
        padding: 30px 0;

        @media(max-width: $breakpoint1440) {
            padding: 20px 0;
        }
        @media(max-width: 1360px) {
            padding: 20px 16px;
        }
        @media(max-width: $breakpoint768) {
            display: none;
        }
    }

    &__wrapper {
        max-width: 1328px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        display: flex;
        align-items: center;
        gap: 56px;

        li {
            display: inline-flex;
        }
        @media(max-width: $breakpoint1024) {
            gap: 32px;
        }
    }
    &__links li:last-child &__link {
        color: black;
        font-weight: 500;
    }
    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.57143;
        color: #1b2839;

        @media(max-width: $breakpoint1440) {
            font-size: 12px;
        }
    }
} 

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 130px;
    justify-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        gap: 18px;

        @media(max-width: $breakpoint1024) {
            gap: 14px;
        }
        @media(max-width: $breakpoint480) {
            gap: 8px;
        }
    }
    &__item:nth-of-type(2) {
        @media(max-width: $breakpoint480) {
            gap: 32px;
        }
    }
    &__item:nth-of-type(3) {
        display: none;
        @media(max-width: $breakpoint768) {
            display: flex;
        }
    }
    & .copyright {
        display: none;

        @media(max-width: $breakpoint768) {
            margin-top: 60px;
            display: flex;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &-title {
            font-weight: 600;
            font-size: 24px;
            text-transform: uppercase;
            color: #fff;

            @media(max-width: $breakpoint1440) {
                font-size: 20px;
            }
            @media(max-width: $breakpoint480) {
                font-size: 16px;
            }
        }
        &-text {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: #fff;

            @media(max-width: $breakpoint1440) {
                font-size: 14px;
            }
            @media(max-width: $breakpoint480) {
                font-size: 12px;
            }
        }
    }

    @media(max-width: $breakpoint1440) {
        gap: 69px;
    }
    @media(max-width: $breakpoint1280) {
        gap: 40px
    }
    @media(max-width: $breakpoint1024) {
        grid-template-columns: repeat(2, auto);
    }
    @media(max-width: $breakpoint1024) {
        row-gap: 32px;
    }
    @media(max-width: $breakpoint768) {
        grid-template-columns: 1fr;
    }
}

.footer-link {
    font-weight: 800;
    font-size: 64px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;

    @media(max-width: $breakpoint1440) {
        font-size: 48px;
    }
    @media(max-width: $breakpoint480) {
        font-size: 32px;
    }
}

.social {
    display: flex;
    gap: 24px;

    &__item {
        display: inline-flex;
    }

    &__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;

        @media(max-width: $breakpoint1440) {
            font-size: 14px;
        }
        @media(max-width: $breakpoint480) {
            font-size: 12px;
        }
    }
}

.copyright {
    display: flex;
    align-items: center;
    gap: 4px;

    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.57143;
        color: #1b2839;

        @media(max-width: $breakpoint1440) {
            font-size: 12px;
        }
        @media(max-width: $breakpoint768) {
            color: #fff;
        }
    }
}