.header {
    position: relative;
<<<<<<< HEAD
    background: #fff;

    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 29px 0;
        z-index: 2;

        @media(max-width: $breakpoint768) {
            padding: 20px 0;
        }
        @media(max-width: $breakpoint480) {
            padding: 16px 0;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    &__mail {

    }
    &__phone {

    }
}

.logo {
    
=======
    margin-top: 20px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    &__right {
        display: flex;
        align-items: center;
        gap: 20px;

        & .btn {
            @media(max-width: $breakpoint480) {
                display: none;
            }
        }
    }
    &__burger-menu {
        display: inline-flex;
    }
>>>>>>> cbfdbc6787f6808193dab02f741b0a99301051f6
}
