.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 36px;

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        background-color: $dark-blue;
        min-height: 580px;
        padding: 32px 28px;
        transition: all .3s;
        overflow: hidden;

        &:hover {
            background-color: #5481F3;

            & .services__description {
                transform: scale(1.05);
            }
        }

        &:hover::after {
            top: 26px;
            right: 22px;
            transform: scale(1.05);
        }
        &:hover::before {
            transform: scale(1.1);
        }

        &::after {
            content: url('../img/icons/arrow_card.svg');
            position: absolute;
            top: 32px;
            right: 28px;
            transition: all .3s;
        }
        &::before {
            transition: transform .7s;

            @media(max-width: $breakpoint768) {
                width: 300px !important;
            }
        }

        &--web {
            &::before {
                position: absolute;
                right: 0;
                content: url('../img/photo/mac.svg');
                @media(max-width: $breakpoint768) {
                    content: '';
                    background-image: url('../img/photo/mac.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 372px;
                    height: 418px;
                }
            }
        }
        &--bill {
            &:hover::before {
                transform: scale(1.1) translateY(-50%);
            }

            &::before {
                position: absolute;
                top: 50%;
                right: 26px;
                transform: translateY(-50%);
                content: url('../img/photo/bill.svg');
                @media(max-width: $breakpoint768) {
                    content: '';
                    background-image: url('../img/photo/bill.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 337px;
                    height: 321px;
                }
            }
        }
        &--crm {
            &::before {
                position: absolute;
                bottom: 0;
                right: 0;
                content: url('../img/photo/crm.svg');
                @media(max-width: $breakpoint768) {
                    content: '';
                    background-image: url('../img/photo/crm.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 412px;
                    height: 316px;
                }
            }
        }
        &--seo {
            &::before {
                position: absolute;
                right: 0;
                content: url('../img/photo/seo.svg');
                @media(max-width: $breakpoint768) {
                    content: '';
                    background-image: url('../img/photo/seo.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 379px;
                    height: 514px;
                }
            }
        }
        &--mobile {
            &::before {
                display: flex;
                position: absolute;
                bottom: 0;
                margin-bottom: -5px;
                right: 0;
                content: url('../img/photo/mobile.svg');
                @media(max-width: $breakpoint768) {
                    content: '';
                    background-image: url('../img/photo/mobile.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 200px !important;
                    height: 310px;
                }
            }
        }
        &--support {
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                content: url('../img/photo/support.svg');
                @media(max-width: $breakpoint768) {
                    content: '';
                    background-image: url('../img/photo/support.svg');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 418px;
                    height: 470px;
                }
            }
        }

        @media(max-width: $breakpoint768) {
            min-height: 500px;
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        transition: transform .5s;

        &--bottom {
            margin-top: auto;
        }
    }

    // &__img {
    //     width: 430px;
    //     height: 800px;
    //     background: radial-gradient(57.55% 57.55% at 52.67% 43.52%, rgb(0, 63, 225) 45.76599299907684%, rgb(0, 63, 225) 93.22916865348816%), radial-gradient(95.34% 73.66% at 51.59% 87.46%, rgb(0, 63, 225) 0%, rgb(0, 63, 225) 100%), radial-gradient(59.03% 58.05% at 98.14% 32.65%, rgb(173, 84, 243) 0%, rgb(173, 84, 243) 97.05789089202881%), radial-gradient(81.35% 88.17% at 21.76% 39.05%, rgb(56, 52, 255) 0%, rgb(56, 52, 255) 100%), radial-gradient(29% 73.17% at 74.14% 7.49%, rgb(173, 84, 243) 0%, rgb(173, 84, 243) 100%), radial-gradient(67.02% 81.31% at 82.24% 15.28%, rgb(243, 84, 208) 0%, rgb(243, 84, 208) 100%), radial-gradient(73.62% 82.39% at 24.77% 7.94%, rgb(0, 163, 255) 0%, rgb(0, 163, 255) 100%), radial-gradient(104.79% 103.06% at 34.81% 28.79%, rgb(243, 84, 208) 41.057464480400085%, rgb(243, 84, 208) 100%);
    //     filter: blur(150px);
    //     border-radius: 50%;
    //     position: absolute;
    // }
    
    // &__img:nth-of-type(1) {
    //     top: -150px;
    //     left: -315px;
    // }
    // &__img:nth-of-type(2) {
    //     bottom: -250px;
    //     right: -315px;
    // }

    &__number {
        font-weight: 400;
        font-size: 24px;
        color: #fff;
    }
    &__title {
        margin-top: 10px;
        font-weight: 600;
        font-size: 24px;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.84);
    }
    &__text {
        margin-top: 6px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #fff;
    }

    @media(max-width: $breakpoint768) {
        gap: 20px;
    }
    @media(max-width: $breakpoint480) {
        grid-template-columns: unset;
    }
}