.ticker {
    width: fit-content;
    &:nth-of-type(3) {
        display: flex;
    }
    @media(max-width: 1920px) {
        &:nth-of-type(3) {
            display: none;
        }
    }
    
    &__text {
        display: flex;
        align-items: center;
        gap: 22px;
        white-space: nowrap;
        font-family: "Inter", sans-serif;
        font-weight: 800;
        font-size: 128px;
        line-height: 1;
        letter-spacing: 0.05em;
        color: transparent;
        -webkit-text-stroke: 1px $main-blue;
        user-select: none;

        &::after {
            content: url('../img/icons/star.svg');
            margin-top: -10px;
        }
    } 

    &::before, &::after {
        content: "";
        height: 100%;
        top: 0;
        width: 10%;
        position: absolute;
        z-index: 1;
        pointer-events: none;
    }
    &__items {
        flex-shrink: 0;
    }

    &__item {
        flex: 0 0 auto;
        width: 100%;
        transition: all 0.1s ease-in-out;
    }
}

.marquee {
    animation: scroll 10s linear infinite;
}
  
@keyframes scroll {
from {
    transform: translateX(0);
}
to {
    transform: translateX(calc(-100%));
}
}
  
.swiper-ticker__wrapper{
    transition-timing-function: linear !important;
}