// color
<<<<<<< HEAD
$main-color: #548235;
$accent-color: #D4E1BD;
$secondary-color: #11332A; 
$main-text: #3A3737;

// breakpoint 
=======
$main-blue: #4C7AC2;
$dark-blue: #2B3042;
$text-blue: #5481F3; 

// breakpoint
>>>>>>> cbfdbc6787f6808193dab02f741b0a99301051f6
$breakpoint1440: 1440 + px;
$breakpoint1280: 1280 + px;
$breakpoint1024: 1024 + px;
$breakpoint768: 768 + px;
<<<<<<< HEAD
$breakpoint480: 480 + px;
$breakpoint375: 375 + px;

// font-family
$font-family: '';

// border-radius
$main-radius: 35px;

// container
$container-width: 1440px;
$section-top: 100px;
$padding-md: 24px;
$padding-sm: 16px;
=======
$breakpoint600: 600 + px;
$breakpoint560: 560 + px;
$breakpoint480: 480 + px;
>>>>>>> cbfdbc6787f6808193dab02f741b0a99301051f6
